*, :before, :after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

/* Unknown props */
/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); - filter */
/* transform: rotate(45deg); - checkbox */
/* border-radius: 3px; - card rounding */

/* Your styles go below */
