<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS HW 1</title>
  </head>
  <body>
    <h1>Homework</h1>
    <ul>
      <li>
        сделать аналогичную картинке страницу
      </li>
      <li>
        <a href="images/HW4.png">
          <img src="images/HW4.png" alt="" width="200" />
        </a>
      </li>
      <li>на заголоквки h1-h4 применить различные размеры шрифта с различными величинами (em, rem, px, %)</li>
      <li>на заголоки h5-h6 применить значение font-size с помощью vw, vh (vmin, vmax)</li>
      <li>первая буква каждой ячейки должна быть красной (color: red;)</li>
      <li>каждый четный ряд серый (background-color: #ddd;)</li>
      <li>начиная с пятой и по последнюю ячейку в каждом ряду, применить курсив и жирный шрифт</li>
    </ul>
    <p>Для решения ДЗ использовать homework.css из архива. Свои стили дописывать внизу. Выборку по классам, либо идентификаторам делать не надо.</p>
    <p>
      Вторая часть ДЗ - потренировать селекторы на
      <a href="https://htmlacademy.ru/courses/42" target="_blank">https://htmlacademy.ru/courses/42</a>
    </p>
  </body>
</html>
