body {
  color: #444;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: #3F51B5;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

footer {
  background-color: #3F51B5;
  color: #fff;
}

/* Your styles go below */
