<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS homework 4(1)</title>
  </head>
  <body>
    <h1>Web page</h1>
    <a href="images/hw.png" target="_blank">
      <img src="images/hw.png" width="400px" alt="" />
    </a>
    <ul>
      <li>Нужно повторить то что на картинке</li>
      <li>Нельзя использовать таблицы</li>
      <li>Сетку сделать с помощью float. Важный момент: сетка должна быть повторно использована в footer. То есть одна сетка как для карточек так и для меню в футере.</li>
      <li>За основу взять homework.css, стили писать после Your styles go below. Не изученные свойтва под комментарием Unknown props</li>
      <li>Раздел Intro - фон должен позиционироваться относительно страницы (параллакс эффект)</li>
      <li>Основная рабочая область 1170px с отступами внутри по 15px. Соответственно от этого должна зависеть сетка. Эта рабочая область сохраняется в шапке и футере.</li>
      <li>Все элементы должны иметь классы, давать им адекватные названия</li>
      <li>Фото карточки это фон</li>
      <li>Цветовую гамму можно свою.</li>
      <li>Обратите внимание на фон body.</li>
      <li>Активный пункт меню в шапке подчеркнут.</li>
      <li>Не забываем про box-sizing.</li>
      <li>Все материалы в папке public/views/css/lesson-4</li>
      <li>HTML скуртуру использовать из lesson-2</li>
    </ul>
  </body>
</html>
