<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS homework 4(1)</title>
  </head>
  <body>
    <h1>Float puzzle</h1>
    <a href="images/puzzle.png" target="_blank">
      <img src="images/puzzle.png" alt="" />
    </a>
    <ul>
      <li>Нужно повторить то что на картинке с помощью float</li>
      <li>Размеры контейнера 300х300</li>
      <li>У каждого пазла отступ справа и снизу 5px</li>
      <li>
        <p>Размер квадрата - 70х70 (фиолетовый - #8E44AD, оранжевый - #F1C40F)</p>
        <p>Прямоугольник зеленый 145х70 (#2ECC71)</p>
        <p>Прямоугольник красный 70х145 (#E74C3C)</p>
        <p>Прямоугольник синий 70х220 и 220х70 (#3498DB)</p>
      </li>
      <li>HTML код поместить в файл puzzle.html, CSS код в файл puzzle.css в папке css. Большую задачу делаем как обычно, index.html, style.css</li>
    </ul>
  </body>
</html>
