<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Homework</title>
  </head>
  <body>
    <h1>Homework</h1>
    <a href="./images/homework.png">
      <img src="./images/homework.png" alt="" width="400" />
    </a>
    <h2>Description</h2>
    <ul>
      <li>Сделать подобно картинке</li>
      <li>У списка есть тень</li>
      <li>Картинка со спрайтом лежит в images</li>
      <li>У каждого элемента списка рамка</li>
      <li>Структура не должна ломаться при наличии большого текста (что видно на последнем элементе списка)</li>
      <li>Иконка всегде слева, значок всегда справа</li>
      <li>Если текста только на одну строку, он должен центрироваться по вертикали (в скрине первые 2 элемента)</li>
      <li>Создать с помощью ul li</li>
      <li>Обязательно всем элементам задать класс</li>
      <li>Создать фигуру по скрину: цвета любые (но только rgba). Фигура состоит из теней (6) и градиента из трех цветов (можно 2 цвета). Это должен быть 1 блок без картинок, дополнительных элементов и псевдо элементов.</li>
    </ul>
  </body>
</html>
