<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS homework 3</title>
  </head>
  <body>
    <a href="images/hw.png" target="_blank">
      <img src="images/hw.png" width="400" alt="" />
    </a>
    <ul>
      <li>Сделать подобно картинке</li>
      <li>использовать заготовку homework.css, свои стили писать под /* Your styles go below */</li>
      <li>использовать таблицу сброса из прошлого ДЗ</li>
      <li>иконка favorite лежит в папке images</li>
      <li>основная картинка карточки там же (чтоб не искать в интернете)</li>
      <li>header должен быть fixed (приклеенный сверху)</li>
      <li>ширина основной области 1170px (область с заголовком, карточками и постраничной навигацией)</li>
      <li>пункт меню Gallery сделать активным (на картинке подчеркивание)</li>
      <li>первая страница постраничной навигации не кликабельна и не имеет подчеркивания - то есть является активной.</li>
      <li>использовать box-sizing border-box для всех элементов</li>
      <li>все содержимое внутри body обернуть в &lt;div class="wrapper"&gt;...&lt;div&gt;</li>
      <li>каждому элементу, кроме картинок, задать класс</li>
      <li>не изученные нами свойства, которые вам пригодятся находятся под комментарием unknown props</li>
      <li>не забывайте про валидацию</li>
      <li>ИСПОЛЬЗУЙТЕ HTML заготовку с прошлого урока, structure.html</li>
    </ul>
  </body>
</html>
