<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Homework</title>
  </head>
  <body>
    <p>Создать лоадер на анимациях. Заполнение по кругу плавное в течение 10с. Анимация цифр резкая (просто меняется число от 1 до 10). Темный круг имеет градиент.</p>
    <ul>
      <li><a href="http://prntscr.com/iwr6k3" target="_blank">http://prntscr.com/iwr6k3</a></li>
      <li><a href="http://prntscr.com/iwr6us" target="_blank">http://prntscr.com/iwr6us</a></li>
      <li><a href="http://prntscr.com/iwr6zo" target="_blank">http://prntscr.com/iwr6zo</a></li>
      <li><a href="http://prntscr.com/iwr753" target="_blank">http://prntscr.com/iwr753</a></li>
      <li><a href="http://prntscr.com/iwr790" target="_blank">http://prntscr.com/iwr790</a></li>
    </ul>
  </body>
</html>
